.games-section h1{text-align:center;}
.games-box{width:50%;margin-left:auto;margin-right:auto;background-color:#ff3333;border:solid black 1px;}.games-box .game{background-color:salmon;border:solid black 1px;}
